[submodule "submodules/monad-effect"]
	path = submodules/monad-effect
	url = Qute:~/git/rst
[submodule "submodules/monad-effect-database"]
	path = submodules/monad-effect-database
	url = Qute:~/git/rst-database
[submodule "submodules/monad-effect-logging"]
	path = submodules/monad-effect-logging
	url = Qute:~/git/monad-effect-logging
[submodule "submodules/monad-effect-prometheus"]
	path = submodules/monad-effect-prometheus
	url = Qute:~/git/monad-effect-prometheus
[submodule "submodules/probabilist"]
	path = submodules/probabilist
	url = Qute:~/git/probabilist
