[submodule "submodules/monad-effect"]
	path = submodules/monad-effect
	url = Qute:~/git/rst
[submodule "submodules/monad-effect-logger"]
	path = submodules/monad-effect-logger
	url = Qute:~/git/rst-logger
[submodule "submodules/monad-effect-database"]
	path = submodules/monad-effect-database
	url = Qute:~/git/rst-database
[submodule "submodules/item"]
	path = submodules/item
	url = Qute:~/git/item
[submodule "submodules/diagram-rasterific"]
	path = submodules/diagram-rasterific
	url = https://github.com/diagrams/diagrams-rasterific.git
